<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
</head>
<body style="background: darkseagreen; justify-content: center; text-align: center; padding-top: 10%">
<h1 style="display: flex; flex-direction: column; margin-bottom: 20px;"> Data has been exported to CSV file in the project root folder </h1>
<a role="button" class="btn btn-primary" th:href="@{/}">Return to task list</a>
</body>
</html>